---
export const prerender = true;
import { getCollection } from 'astro:content';
import ArrowRight from '../../icons/ArrowRight.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { sortItemsByDateDesc, getAllTags, getPostsByTag } from '../../utils/data-utils';

const posts = (await getCollection('blog')).sort(sortItemsByDateDesc);
const tags = getAllTags(posts).sort((tagA, tagB) => {
    const postCountTagA = getPostsByTag(posts, tagA.slug).length;
    const postCountTagB = getPostsByTag(posts, tagB.slug).length;
    return postCountTagB - postCountTagA;
});
---

<BaseLayout
    title="Work cited"
    description=""
    showHeader={false}
>
    <h1 class="mb-12 text-2xl font-serif italic sm:mb-16 sm:text-4xl">Work cited</h1>

    Dante. “Website Theme.” www.dante-astro-theme.netlify.app/.

    americanspcc. "image of crying girl." www.https://americanspcc.org/.
    
    “Disturbing Details of Child Neglect Raise Questions About Parents, Police, Welfare Agencies.” *CBC*, 7 June 2024, www.cbc.ca/news/canada/ottawa/disturbing-details-of-child-neglect-raise-questions-about-parents-police-welfare-agencies-1.7227327. Accessed 5 November 2024.
    
    Legg, Timothy J., and Karen Gill. “Emotional and Psychological Abuse in Children.” *Healthline*, www.healthline.com/health/child-neglect-and-psychological-abuse#reporting-abuse. Accessed 5 November 2024.
    
    “Signs of Emotional Abuse.” *BHSCP*, www.bhscp.org.uk/preventing-abuse-and-neglect/spotting-the-signs/signs-of-emotional-abuse/.
    
    “Sophie’s Story.” *NSPCC*, www.nspcc.org.uk/what-is-child-abuse/childrens-stories/sophies-story/. Accessed 5 November 2024.
    
    “Understanding Child Abuse and Neglect.” *Justice Canada*, Government of Canada, www.justice.gc.ca/eng/rp-pr/cj-jp/fv-vf/caw-mei/p6.html. Accessed 5 November 2024.
    
</BaseLayout>
